.venv/
__pycache__/
*.pyc
*.pt
*.pth
*.npz
.vscode/
.idea/



build/
build/*
build/**
build*/
build*/*
build*/**
install/
install/*
install/**
install*/
install*/*
install*/**
log/
log/*
log/**
log*/
log*/*
log*/**
.idea/
.idea/*
.idea/**
.idea*/
.idea*/*
.idea*/**
.vscode/
.vscode/*
.vscode/**
.vscode*/
.vscode*/*
.vscode*/**
*.bak
*.bk

models/


.clause/
.agents/

ros2_indy/
ros2_indy/*

/home/apicoo-ai/pmg/bin_picking_ws/ros2_indy

enums.py
indydcp3.py
Neuromeka_docs.txt
Neuromeka_docs.py


pmg/bin_picking_ws/src/indy_vision/indy_vision/data_calib_intel/images/
pmg/bin_picking_ws/src/indy_vision/indy_vision/data_calib_intel/poses/
pmg/bin_picking_ws/Neuromeka_docs.py
pmg/bin_picking_ws/Neuromeka_docs.py
pmg/bin_picking_ws/ros2_indy/
